.css-10trblm{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
        border: #f63366;
        border-style: double;
        border-radius: 10px;
        padding: 10px;
        }
